@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

h1 {
 font-size: 130px;
 color:white;
 opacity:0.7;
 font-family: "Oswald", monospace;
 position: fixed;
 top:20%;
 left:50%;
 transform:translate(-50%, -180%);
 font-style:oblique;
}
h2 {
  color:white;
  opacity:0.7;
  font-family: "Oswald", monospace;
}
body {
background-image:url("chicago.jpg");
//background-size: cover;
background-position: right 45 px;
position:fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -45%);
}

.transbox {
  padding: 10px 10px 10px 10px;
  position:relative;
  width:600px;
  height:500px;
  margin:100px;
  background-color:white;
  opacity:0.8;
  filter:alpha(opacity=60);
}
.nav {
  position:fixed;
  width:100%;
  top:0;
  height:40px;
  background:#d2edf4;
  background-image:linear-gradient(to bottom, #e1e5f0, #79bbff 100%);
  filter:alpha(opacity=60);
}
.nav ul {
  margin:0;
  padding:0;
}
.nav ul li {
  list-style:none;
}
.nav ul li a {
  text-decoration:none;
  float:left;
  display:block;
  padding: 10px 20px;
  color:black;
}
.nav ul li:hover {
  background-color:white;
}
.nav ul li a:hover {
  color:white;
  text-decoration:none;
}
.email {
  width:200px;
  height:25px;
  background:rgba(255,255,255,0.8);
  font-size:15px;
  font-family: "Lucida Console", monospace;
  border-width:0px;
}
.password {
  width:200px;
  height:25px;
  background:rgba(255,255,255,0.8);
  font-size:15px;
  font-family: "Lucida Console", monospace;
  border-width:0px;
}
.submit {
  	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  	box-shadow:inset 0px 1px 0px 0px #ffffff;
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  	background-color:#f9f9f9;
  	-moz-border-radius:6px;
  	-webkit-border-radius:6px;
  	border-radius:6px;
  	border:1px solid #dcdcdc;
  	display:inline-block;
  	cursor:pointer;
  	color:#666666;
  	font-family:"Lucida Console", monospace;
  	font-size:13px;
  	font-weight:bold;
  	padding:6px 24px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #ffffff;
}
.form-control {
    background:rgba(255,255,255,0.8);
    font-size:15px;
    font-family: "Lucida Console", monospace;
    border-width:1px;
}
.listing {
    font-size:15px;
    float:left;
}
